@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h2>Usuário @Model.Name</h2>

<h2> @(Model.BirthDate.HasValue ? "BirthDate " + Model.BirthDate.Value.ToString("dd/MM/yyyy") : null)</h2>
<h2>Tipo de MemberShip @Model.MembershipType</h2>

